{% set _id = id is defined ? id : '{{ data.id }}' %}
{% set _url = url is defined ? url : '' %}
{% set _label = label is defined ? label : '' %}
{% set _target = target is defined ? target : '_blank' %}
{% set _rel = rel is defined ? rel : '' %}

<fieldset data-u="{{ _id }}">
    {% if multiple %}
        <a href="#deleteLink" class="del-link">
            <i class="dashicons dashicons-no-alt"></i>
        </a>
    {% endif %}

    <div class="l-link">
        <label for="{{ fieldname }}-{{ _id }}-url">
            {{ t_website_url|raw }} - <a href="{{ _url }}" class="goto" target="_blank">{{ t_website_goto|raw }}</a>
        </label>

        <input type="text" name="{{ fieldname }}[{{ _id }}][url]" id="{{ fieldname }}-{{ _id }}-url" class="regular-text" value="{{ _url }}" placeholder="{{ t_website_placeholder|raw }}" />
    </div>

    <div class="l-label">
        <label for="{{ fieldname }}-{{ _id }}-label">{{ t_label|raw }}</label>
        <input type="text" name="{{ fieldname }}[{{ _id }}][label]" id="{{ fieldname }}-{{ _id }}-label" class="regular-text" value="{{ _label }}" placeholder="{{ t_label_placeholder|raw }}" />
    </div>

    <div class="l-target">
        <label for="{{ fieldname }}-{{ _id }}-target">{{ t_target|raw }}</label>

        <select name="{{ fieldname }}[{{ _id }}][target]" id="{{ fieldname }}-{{ _id }}-target" class="no-selectize">
            <option value="_blank"{{ _target == '_blank' ? ' selected="selected"' : '' }}>
                {{ t_target_blank|raw }}
            </option>
            <option value="_self"{{ _target == '_self' ? ' selected="selected"' : '' }}>
                {{ t_target_self|raw }}
            </option>
            <option value="_parent"{{ _target == '_parent' ? ' selected="selected"' : '' }}>
                {{ t_target_parent|raw }}
            </option>
            <option value="_top"{{ _target == '_top' ? ' selected="selected"' : '' }}>
                {{ t_target_top|raw }}
            </option>
        </select>
    </div>

    <div class="l-rel">
        <label for="{{ fieldname }}-{{ _id }}-rel">{{ t_relationship|raw }}</label>

        <input type="text" name="{{ fieldname }}[{{ _id }}][rel]" id="{{ fieldname }}-{{ _id }}-rel" class="regular-text" value="{{ _rel }}" />
        <small>{{ t_relationship_description|raw }}</small>
    </div>
</fieldset>
