{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div id="{{ identifier }}-link" class="olz-field link">
        <input type="hidden" name="{{ name }}" value="" />

        <div class="l-results">
            {% set num = 1 %}

            {% if value|length > 0 %}
                {% for k, v in value %}
                    {% include '@link/expand.html.twig' with {
                        'fieldname': name,
                        'multiple': multiple,

                        'id': num,
                        'url': v.url,
                        'label': v.label,
                        'target': v.target,
                        'rel': v.rel,

                        't_website_url': t_website_url,
                        't_website_placeholder': t_website_placeholder,
                        't_website_goto': t_website_goto,
                        't_label': t_label,
                        't_label_placeholder': t_label_placeholder,
                        't_target': t_target,
                        't_target_blank': t_target_blank,
                        't_target_self': t_target_self,
                        't_target_parent': t_target_parent,
                        't_target_top': t_target_top,
                        't_relationship': t_relationship,
                        't_relationship_description': t_relationship_description,
                    } only %}

                    {% set num = num + 1 %}
                {% endfor %}
            {% elseif not multiple %}
                {% include '@link/expand.html.twig' with {
                    'fieldname': name,
                    'multiple': multiple,

                    'id': num,
                    'url': '',
                    'label': '',
                    'target': '_blank',
                    'rel': '',

                    't_website_url': t_website_url,
                    't_website_placeholder': t_website_placeholder,
                    't_website_goto': t_website_goto,
                    't_label': t_label,
                    't_label_placeholder': t_label_placeholder,
                    't_target': t_target,
                    't_target_blank': t_target_blank,
                    't_target_self': t_target_self,
                    't_target_parent': t_target_parent,
                    't_target_top': t_target_top,
                    't_relationship': t_relationship,
                    't_relationship_description': t_relationship_description,
                } only %}
            {% endif %}
        </div>

        {% if multiple %}
            <div class="hide-if-no-js submitbox">
                <a href="#addLink" class="button add-link" title="{{ t_add_link|raw }}">
                    {{ t_add_link|raw }}
                </a>

                <a href="#deleteLinks" class="submitdelete deletion del-all-links">
                    {{ t_delete_all|raw }}
                </a>
            </div>
        {% endif %}

        <script>
            (function($) {
                $(document).ready(function() {
                    $("#{{ identifier }}-link").zeusLink({
                        addbutton: ".add-link",
                        container: ".l-results",
                        delallbutton: ".del-all-links",
                        delbutton: ".del-link",
                        gotobutton: ".goto",
                        items: "fieldset",
                        linkbutton: ".l-link input",
                        source: "{{ identifier }}-item",
                    });
                });
            })(jQuery);
        </script>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/html" id="tmpl-{{ identifier }}-item">
        {% include '@link/expand.html.twig' with {
            'fieldname': name,
            'multiple': multiple,

            't_website_url': t_website_url,
            't_website_placeholder': t_website_placeholder,
            't_website_goto': t_website_goto,
            't_label': t_label,
            't_label_placeholder': t_label_placeholder,
            't_target': t_target,
            't_target_blank': t_target_blank,
            't_target_self': t_target_self,
            't_target_parent': t_target_parent,
            't_target_top': t_target_top,
            't_relationship': t_relationship,
            't_relationship_description': t_relationship_description,
        } only %}
    </script>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
