{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div id="{{ identifier }}-link" class="dionysos-field link">
        <input type="hidden" name="{{ name }}" value="" />

        <div class="links-elements">
            {% set num = 1 %}

            {% if value|length > 0 %}
                {% for k, v in value %}
                    {% include '@link/expand.html.twig' with {
                        'fieldname': name,
                        'multiple': multiple,

                        'id': num,
                        'url': v.url,
                        'label': v.label,
                        'target': v.target,

                        't_addblock_label': t_addblock_title,
                        't_editblock_label': t_editblock_label,
                        't_removeblock_label': t_removeblock_label,
                    } only %}

                    {% set num = num + 1 %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="hide-if-no-js submitbox">
            {{ multiple ? t_addblocks_description : t_addblock_description }}

            <button type="button" class="zeus-btn add-button has-icon" aria-label="{{ t_addblock_label|raw }}">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" role="img" aria-hidden="true" focusable="false"><path d="M10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 16c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7zm1-11H9v3H6v2h3v3h2v-3h3V9h-3V6zM10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 16c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7zm1-11H9v3H6v2h3v3h2v-3h3V9h-3V6z"></path></svg>
            </button>
        </div>

        <script>
            (function($) {
                $(document).ready(function() {
                    $("#{{ identifier }}-link").dionysosLink({
                        multiple: {{ multiple ? 'true' : 'false' }},
                        source: "{{ identifier }}-item",
                    });
                });
            })(jQuery);
        </script>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/html" id="tmpl-{{ identifier }}-item">
        {% include '@link/expand.html.twig' with {
            'fieldname': name,
            'multiple': multiple,

            't_addblock_label': t_addblock_title,
            't_editblock_label': t_editblock_label,
            't_removeblock_label': t_removeblock_label,
        } only %}
    </script>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
